package $package;

import com.fasterxml.jackson.annotation.JsonCreator;
import com.fasterxml.jackson.annotation.JsonFormat;
import com.fasterxml.jackson.annotation.JsonProperty;
import com.fasterxml.jackson.annotation.JsonPropertyOrder;

@javax.annotation.Generated("jsbridge")
@JsonFormat(shape = JsonFormat.Shape.ARRAY)
@JsonPropertyOrder({
    #foreach($p in $params)
        "${p.name}"
        #if($foreach.hasNext),#end
    #end
})
public final class $className {
    #foreach($p in $params)
        public ${p.typeStr} ${p.name};
    #end

    @JsonCreator
    public ${className}(
    #foreach($p in $params)
        @JsonProperty("${p.name}") ${p.typeStr} ${p.name}
        #if($foreach.hasNext),#end
    #end
    ) {
        #foreach($p in $params)
            this.${p.name} = ${p.name};
        #end
    }
}
