package $package;

import com.fasterxml.jackson.annotation.JsonFormat;
import com.fasterxml.jackson.annotation.JsonPropertyOrder;

@javax.annotation.Generated("jsbridge")
@JsonFormat(shape = JsonFormat.Shape.ARRAY)
@JsonPropertyOrder({
    #foreach($p in $params)
        "${p.name}"
        #if($foreach.hasNext),#end
    #end
})
public final class $className {
    #foreach($p in $params)
        public ${p.typeFQN} ${p.name};
    #end
}
